.content{
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
    color: rgb(222, 230, 238);
    text-align:center;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.content h1{
    margin-top: 0px;
    font-size: 40px;
}

.content h2{
    margin-top: 0px;
}

.img-content{
    width: 50%;
    height: 25%;
    display: table-cell;
    vertical-align: middle;
}

.content img{
    max-width: 300px;
    max-height: 190px;
    display: inline-block;
}

.text-content{
    vertical-align: top;
    width: 50%;
    height: 25%;
    padding-left: 50px;
    display: table-cell;
    text-align: left;
}

.right{
    width: 100%;
    /* realizzato con https://cssgradient.io/ */
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(86, 107, 133, 0.684) 15%, rgba(0,68,149,0.6841121495327103) 75%);
    /**/
    padding-top: 40px;
    padding-bottom: 40px;
    display: table;
}

.left{
    width: 100%;
    margin-bottom: 30px;
    padding-top: 40px;
    display: table;
}

button{
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #008CBA;
    border: 1px solid #008CBA;
    color: #fff;
}

button:hover{
    cursor: pointer;
    background-color: rgb(0, 103, 138);
    border: 1px solid  rgb(0, 103, 138);
}
